astroid==2.12.12
autopep8==1.6.0
colorama==0.4.6
dill==0.3.6
distlib==0.3.6
filelock==3.8.0
flake8==4.0.1
isort==5.10.1
jedi==0.17.2
lazy-object-proxy==1.8.0
mccabe==0.6.1
mypy==0.982
mypy-extensions==0.4.3
packaging==21.3
parso==0.7.1
pbr==5.11.0
platformdirs==2.5.2
pluggy==1.0.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.15.5
pyls-mypy==0.1.8+6.g3b105b4
pyparsing==3.0.9
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.5.0
pytoolconfig==1.2.2
rope==1.4.0
snowballstemmer==2.2.0
stevedore==4.1.0
toml==0.10.2
tomlkit==0.11.6
typing_extensions==4.4.0
ujson==5.5.0
virtualenv==20.16.6
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
whatthepatch==1.0.2
wrapt==1.14.1
yapf==0.32.0
